
<h1>Hello, Asher</h1>
<p><%= @user.firstname %>&nbsp; <%= @user.lastname %> has booked an appointment for <%= @appointment.date %> at <%= @appointment.time %></p>
    <p><span>Message from the client: </span><%= @appointment.description %></p>